<br>
<br>
<div class="container mx-auto ">

    <h1 class="h3 mb-15 font-weight-normal">Formulario para quejas o sugerencias</h1>

    <div class="" style="width: 800px; height: 50px;">

        <div class="">

            <div class="col-md-12 mt-5">

                <form>
                    <div class="form-group">
                        <label>Asunto</label>
                        <input type="text" formControlName="nya" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label>Primer Apellido</label>
                        <input type="text" formControlName="nya" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label>Segundo Apellido</label>
                        <input type="text" formControlName="nya" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label>Nombre </label>
                        <input type="text" formControlName="nya" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" />
                      
                    </div>

                    <div class="form-group">
                        <label>dirección</label>
                        <input type="text" formControlName="nya" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea class="form-control" formControlName="mensaje" rows="4"></textarea>

                    </div>


                </form>

            </div>

            <button type="submit" class="btn btn-lg  btn-block" style="background: #dd4b39;">Save</button>

        </div>
<br><br>
    </div>

</div>
